<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/cursoMassa/src/test/java/seuBarrigaPontoCom_Estratégia1/TesteSelenium_SeuBarriga.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="seuBarrigaPontoCom_Estratégia1.TesteSelenium_SeuBarriga"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cursoMassa"/>
</launchConfiguration>
